<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Sql的映射文件 -->
<mapper namespace="com.eccl.ssm.Mapper.EmployeeMapper">
	
	<select id="goLogin" resultType="com.eccl.ssm.pojo.User" parameterType="String">
		select * from user where username=#{string}
	</select>
	<update id="editpwd">
		update user set password=#{lname} where username=#{uname}
	</update>
	<select id="findUserByOne" resultType="com.eccl.ssm.pojo.User">
select u.depart,u.role,u.name,t.high_name,t.yeji,
t.quanjv,t.daituan,t.shouquan,t.zeren,t.gongzuo,
t.xietiao,t.yingbian,t.zuzhi,t.xuexi
 from (select depart,role,name from user where role!='领导') u left join test t on
    u.name=t.name and high_name=#{string}
	</select>
	<insert id="saveTest">
		insert into test (name,high_name,yeji,quanjv,daituan,shouquan,zeren,gongzuo,xietiao,yingbian,zuzhi,xuexi)
		values (#{name},#{high_name},#{yeji},#{quanjv},#{daituan},#{shouquan},#{zeren},#{gongzuo},#{xietiao},#{yingbian},#{zuzhi},#{xuexi})
		
	</insert>
	<select id="isSave" resultType="int" parameterType="String">
		select count(*) from test where high_name=#{string}
	</select>
	<update id="updateTest">
		update test set yeji=#{yeji},quanjv=#{quanjv},
		daituan=#{daituan},shouquan=#{shouquan},zeren=#{zeren},
		gongzuo=#{gongzuo},xietiao=#{xietiao},yingbian=#{yingbian},zuzhi=#{zuzhi},xuexi=#{xuexi}
		 where  name=#{name} and high_name=#{high_name}
	</update>
	<select id="findScore" resultType="com.eccl.ssm.pojo.Test" parameterType="String">
		select * from test where high_name=#{string}
	</select>
	<select id="findAllUser" resultType="com.eccl.ssm.pojo.User">
		select * from user where role!='领导'
	</select>
	<insert id="setUpTable">
		insert into result (depart,role,name) values(#{depart},#{role},#{name})
	</insert>
	<select id="selectTestResultForHigh" resultType="Double">
		select 0.7*avg((yeji+quanjv+daituan+shouquan+zeren+gongzuo+xietiao
			+yingbian+zuzhi+xuexi)) as zongfen from test where high_name in ('瓮总','胡文胜','王英泽','谢玲玉')
				and name = #{name}
	</select>
	<update id="updateTestResultForHigh" parameterType="Map">
		update result set high_test = #{a}
			where name = #{name}
	</update>
	<update id="updateTestResultForLevel">
		update result set level_test=
				#{level}
			where name = #{name}
	</update>
	<update id="updateTestResultForFinal">
		update result set final_test=
								(high_test+level_test)
			where name = #{name}
	</update>
	<select id="selectLevel" resultType="Double">
		select ((yeji+quanjv+daituan+shouquan+zeren+gongzuo+xietiao
			+yingbian+zuzhi+xuexi)) as zongfen from test where high_name not in ('瓮总','胡文胜','王英泽','谢玲玉')
				and name = #{name}
	</select>
	<select id="findAllScore" resultType="com.eccl.ssm.pojo.Result">
		select * from result order by final_test desc
	</select>
	<select id="findWhoNoFind" resultType="String">
		select 
  name 
from
  (select 
    u.name,
    cou.c,
    cou1.c as c1 
  from
    user u 
    left join 
      (select 
        high_name,
        count(1) as c 
      from
        test 
      group by high_name) cou 
      on u.name = cou.high_name 
    left join 
      (select 
        t.high_name,
        count(1) as c 
      from
        (select 
          high_name 
        from
          test te 
        where yeji = 0 
          or quanjv = 0 
          or daituan = 0 
          or shouquan = 0 
          or zeren = 0 
          or gongzuo = 0 
          or xietiao = 0 
          or yingbian = 0 
          or zuzhi = 0 
          or xuexi = 0) t 
      group by t.high_name) cou1 
      on u.name = cou1.high_name) tt 
where tt.c is null 
  or tt.c1 is not null ;
	</select>
</mapper>
